* text=auto !eol
/DESCRIPTION -text
/NAMESPACE -text
/NEWS -text
R/Alignment.R -text
R/Border.R -text
R/Cell.R -text
R/CellProtection.R -text
R/CellStyle.R -text
R/DataFormat.R -text
R/Fill.R -text
R/Font.R -text
R/NamedRanges.R -text
R/Picture.R -text
R/PrintSetup.R -text
R/Row.R -text
R/Workbook.R -text
R/comment.R -text
R/otherEffects.R -text
R/read.xlsx.R -text
R/read.xlsx2.R -text
R/utilities.R -text
R/write.xlsx.R -text
R/write.xlsx2.R -text
/WISHLIST -text
inst/doc/docMethods.txt -text
inst/doc/xlsx.Rnw -text
inst/doc/xlsx.pdf -text
inst/java/RInterface.jar -text
inst/tests/crash_write_xlsx.R -text
inst/tests/lib_tests_xlsx.R -text
inst/tests/log_plot.jpeg -text
inst/tests/test.export.R -text
inst/tests/test.import.R -text
inst/tests/test.lowlevel.R -text
inst/tests/test.otherEffects.R -text
inst/tests/test.picture.R -text
inst/tests/test.workbook.R -text
inst/tests/test_import.xls -text
inst/tests/test_import.xlsx -text
man/Cell.Rd -text
man/CellStyle.Rd -text
man/Comment.Rd -text
man/Font.Rd -text
man/NamedRanges.Rd -text
man/OtherEffects.Rd -text
man/Picture.Rd -text
man/PrintSetup.Rd -text
man/Row.Rd -text
man/Sheet.Rd -text
man/Workbook.Rd -text
man/addHyperlink.Rd -text
man/read.xlsx.Rd -text
man/write.xlsx.Rd -text
man/xlsx-package.Rd -text
other/RInterface.java -text
other/TestRInterface.java -text
other/make.package.R -text
other/runUnitTests.R -text
