* text=auto !eol
/DESCRIPTION -text
/NAMESPACE -text
/NEWS -text
R/Alignment.R -text
R/Border.R -text
R/Cell.R -text
R/CellProtection.R -text
R/CellStyle.R -text
R/DataFormat.R -text
R/Fill.R -text
R/Font.R -text
R/NamedRanges.R -text
R/Picture.R -text
R/PrintSetup.R -text
R/Row.R -text
R/Workbook.R -text
R/addDataFrame.R -text
R/comment.R -text
R/otherEffects.R -text
R/read.xlsx.R -text
R/read.xlsx2.R -text
R/readColumns.R -text
R/readRows.R -text
R/utilities.R -text
R/write.xlsx.R -text
R/write.xlsx2.R -text
/WISHLIST -text
inst/doc/xlsx.Rnw -text
inst/doc/xlsx.pdf -text
inst/java/rexcel-0.5.0.jar -text
inst/tests/crash_write_xlsx.R -text
inst/tests/lib_tests_xlsx.R -text
inst/tests/log_plot.jpeg -text
inst/tests/test.import.R -text
inst/tests/test_import.xls -text
inst/tests/test_import.xlsx -text
man/Alignment.Rd -text
man/Border.Rd -text
man/Cell.Rd -text
man/CellProtection.Rd -text
man/CellStyle-plus.Rd -text
man/CellStyle.Rd -text
man/Comment.Rd -text
man/DataFormat.Rd -text
man/Fill.Rd -text
man/Font.Rd -text
man/NamedRanges.Rd -text
man/OtherEffects.Rd -text
man/POI_constants.Rd -text
man/Picture.Rd -text
man/PrintSetup.Rd -text
man/Row.Rd -text
man/Sheet.Rd -text
man/Workbook.Rd -text
man/addDataFrame.Rd -text
man/addHyperlink.Rd -text
man/read.xlsx.Rd -text
man/readColumns.Rd -text
man/readRows.Rd -text
man/write.xlsx.Rd -text
man/xlsx-package.Rd -text
other/RInterface.java -text
other/TestRInterface.java -text
other/make.package.R -text
other/pom.xml -text
other/src/main/java/org/cran/rexcel/RInterface.java -text
other/src/test/java/org/cran/rexcel/TestRInterface.java -text
